* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  border-radius: 50%;
  width: 35px;
}
